@model transport.Models.ApplicationModels.Kontrahent

<font color="white">

    @{
        ViewData["Title"] = "Edit";
    }

    <h2>Edytuj</h2>

    <form asp-action="Edit">
        <div class="form-horizontal">
            <h4>Kontrahent</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdKontrahent" />
            <div class="form-group">
                <label asp-for="Nazwa" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Nazwa" class="form-control" />
                    <span asp-validation-for="Nazwa" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="NIP" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="NIP" class="form-control" />
                    <span asp-validation-for="NIP" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Regon" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Regon" class="form-control" />
                    <span asp-validation-for="Regon" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Wlasciciel" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Wlasciciel" class="form-control" />
                    <span asp-validation-for="Wlasciciel" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Ulica" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Ulica" class="form-control" />
                    <span asp-validation-for="Ulica" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Kod" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Kod" class="form-control" />
                    <span asp-validation-for="Kod" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Miasto" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Miasto" class="form-control" />
                    <span asp-validation-for="Miasto" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Telefon" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Telefon" class="form-control" />
                    <span asp-validation-for="Telefon" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="EMail" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="EMail" class="form-control" />
                    <span asp-validation-for="EMail" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Typ" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="Typ" class="form-control">
                        <option>firma</option>
                        <option>os. fizyczna</option>
                    </select>
                    <span asp-validation-for="Typ" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Zapisz" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>

    <div>
        <a asp-action="Index">Wróć do listy</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</font>