@model transport.Models.AccountViewModels.RegisterSpedytorViewModel

<font color="white">

    @{
        ViewData["Title"] = "RegisterSpedytor";
    }

    <h2>Dodaj spedytora</h2>

    <form asp-action="RegisterSpedytor">
        <div class="form-horizontal">
            <h4>Uzupełnij dane.</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Imie" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Imie" class="form-control" />
                    <span asp-validation-for="Imie" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Nazwisko" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Nazwisko" class="form-control" />
                    <span asp-validation-for="Nazwisko" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Ulica" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Ulica" class="form-control" />
                    <span asp-validation-for="Ulica" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Kod" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Kod" class="form-control" />
                    <span asp-validation-for="Kod" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Miasto" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Miasto" class="form-control" />
                    <span asp-validation-for="Miasto" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Telefon" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Telefon" class="form-control" />
                    <span asp-validation-for="Telefon" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DataUrodz" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="DataUrodz" class="form-control" />
                    <span asp-validation-for="DataUrodz" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DataZatru" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="DataZatru" class="form-control" />
                    <span asp-validation-for="DataZatru" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DataKonUmowy" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="DataKonUmowy" class="form-control" />
                    <span asp-validation-for="DataKonUmowy" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="NrDowoduOsob" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="NrDowoduOsob" class="form-control" />
                    <span asp-validation-for="NrDowoduOsob" class="text-danger"></span>
                </div>
            </div>           
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Dodaj" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>

    @if (User.IsInRole("Firma"))
    {
    <div>
        <a href="~/Pracowniks/Index">Wstecz</a>
    </div>
    }
    @if (User.IsInRole("Admin"))
    {
        <div>
            <a href="~/Pracowniks/IndexAdmin">Wstecz</a>
        </div>
    }
</font>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
